<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_pedidos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_bread"
        android:label="@string/app_direction"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_bread_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_pedidos"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name="com.example.app_pedidos.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.app_pedidos.ProductsActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.MainActivity" />
        </activity>

        <activity
            android:name="com.example.app_pedidos.PresentacionActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.MainActivity" />
        </activity>


        <activity
            android:name="com.example.app_pedidos.CarritoActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.ProductsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.ProductsActivity" />
        </activity>

<!--        <activity-->
<!--            android:name="com.example.app_pedidos.CarritoActivity"-->
<!--            android:exported="false"-->
<!--            android:parentActivityName="com.example.app_pedidos.VerProductPedidoCarritoActivity">-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value="com.example.app_pedidos.VerProductPedidoCarritoActivity" />-->
<!--        </activity>-->


        <activity
            android:name="com.example.app_pedidos.VerProductPedidoCarritoActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.example.app_pedidos.VerProductActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.ProductsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.ProductsActivity" />
        </activity>

        <activity
            android:name="com.example.app_pedidos.FinalizarPedidoActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.CarritoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.CarritoActivity" />
        </activity>

        <activity
            android:name="com.example.app_pedidos.RevisarPedidoActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.FinalizarPedidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.FinalizarPedidoActivity" />
        </activity>


        <activity
            android:name="com.example.app_pedidos.EditarDatosActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.RevisarPedidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.RevisarPedidoActivity" />
        </activity>

        <!--        <activity-->
        <!--            android:name="com.example.app_pedidos.CarritoActivity"-->
        <!--            android:exported="false"-->
        <!--            android:parentActivityName="com.example.app_pedidos.RevisarPedidoActivity">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.PARENT_ACTIVITY"-->
        <!--                android:value="com.example.app_pedidos.RevisarPedidoActivity" />-->
        <!--        </activity>-->

        <activity
            android:name="com.example.app_pedidos.ConfirmacionActivity"
            android:exported="false"
            android:parentActivityName="com.example.app_pedidos.FinalizarPedidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app_pedidos.FinalizarPedidoActivity" />
        </activity>


    </application>

</manifest>